body{
    background-color:orange;
}

#Rubrik{
   color: white;
    font-size: 3em;
    font-family: 'Righteous', cursive;;

}

.menylankar{
    color: white;
    font-size: 2em;
    font-family: 'PT Sans', sans-serif;
    
}

a{
    text-decoration: none;
}

.hemheader{
    background-color: black;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
    align-items: center;
    text-align: center;
}

main{
 background-color: lavender;
 display: grid;
 grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
 align-items: center;
 text-align: center;
}


#Mixtape{
    max-width: 80%;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.shimmer{
    grid-column: 2/ span 4;
    background-color: lavender;
    font-family: 'PT Sans', sans-serif;
    font-size: 4em;
}



.shimmer {
		text-align: center;
		color: rgba(255, 255, 255, 0.1);
		background: -webkit-gradient(linear, left top, right top, from(black), to(black), color-stop(0.5, lavender));
		background: -moz-gradient(linear, left top, right top, from(black), to(black), color-stop(0.5, lavender));
		background: gradient(linear, left top, right top, from(black), to(black), color-stop(0.5, lavender));
		-webkit-background-size: 125px 100%;
		-moz-background-size: 125px 100%;
		background-size: 125px 100%;
		-webkit-background-clip: text;
		-moz-background-clip: text;
		background-clip: text;
		-webkit-animation-name: shimmer;
		-moz-animation-name: shimmer;
		animation-name: shimmer;
		-webkit-animation-duration: 2s;
		-moz-animation-duration: 2s;
		animation-duration: 7s;
		-webkit-animation-iteration-count: infinite;
		-moz-animation-iteration-count: infinite;
		animation-iteration-count: infinite;
		background-repeat: no-repeat;
		background-position: 0 0;
		background-color:black;
}



@-moz-keyframes shimmer {
		0% {
				background-position: top left;
		}
		100% {
				background-position: top right;
		}
}

@-webkit-keyframes shimmer {
		0% {
				background-position: top left;
		}
		100% {
				background-position: top right;
		}
}

@-o-keyframes shimmer {
		0% {
				background-position: top left;
		}
		100% {
				background-position: top right;
		}
}

@keyframes shimmer {
		0% {
				background-position: top left;
		}
		100% {
				background-position: top right;
		}
}


.hemfot{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
	background-color: rgb(255, 255, 255);
	padding-bottom: 40px;
}

.kategorier{
    padding: 40px;
    max-width: 50%;
    text-align: center;
    align-items: center;
}

div{
    text-align: center;
}

.kategoritext{
 font-size: 3em;
 font-family:'PT Sans', sans-serif;
 margin: 10px;
 color: black;
 font-weight: bolder;
 
}



.actiontitel{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	background-color:white;
	max-width: 70%;
	font-size: 5em;
	 font-family:'PT Sans', sans-serif;
	 margin: auto;
	 color: white;
}

#door{
	max-width: 100%;
	background-image: url("../img/hobbit.png");
	background-color: white;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	object-fit: cover;
}

#bobba{
	max-width: 100%;
	background-image: url("../img/Bobba-Fett.png");
	background-color: white;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	object-fit: cover;
}

#thor{
	max-width: 100%;
	background-image: url("../img/Thor.png");
	background-color: white;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	object-fit: cover;
}

#spiderman{
	max-width: 100%;
	background-image: url("../img/Spiderman.jpg");
	background-color: white;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	object-fit: cover;
}

#jurassic{
	max-width: 100%;
	background-image: url("../img/Jurassicworld.png");
	background-color: white;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	object-fit: cover;
}

#primus{
	max-width: auto;
	background-image: url("../img/Transformers.png");
	background-color: white;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	object-fit: cover;
}


.dramatitel{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	background-color:white;
	max-width: 70%;
	font-size: 5em;
	 font-family:'PT Sans', sans-serif;
	 margin: auto;
	 color: white;
}

#titanic{
	max-width: 100%;
	background-image: url("../img/Titanic.png");
	background-color: white;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	object-fit: cover;
}

#queen{
	max-width: 100%;
	background-image: url("../img/Queen.png");
	background-color: white;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	object-fit: cover;
}

#eminem{
	max-width: 100%;
	background-image: url("../img/Eminem.png");
	background-color: white;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	object-fit: cover;
}

#gaga{
	max-width: 100%;
	background-image: url("../img/GAGA.png");
	background-color: white;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	object-fit: cover;
}

#joker{
	max-width: auto;
	background-image: url("../img/Joker.png");
	background-color: white;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	object-fit: cover;
}

.disneytitel{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	background-color:white;
	max-width: 70%;
	font-size: 5em;
	 font-family:'PT Sans', sans-serif;
	 margin: auto;
	 color: white;
}

#simba{
	max-width: 100%;
	background-image: url("../img/Lejonkungen.png");
	background-color: white;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	object-fit: cover;
}

#olof{
	max-width: 100%;
	background-image: url("../img/Frost.png");
	background-color: white;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	object-fit: cover;
}

#belle{
	max-width: 100%;
	background-image: url("../img/Belle.png");
	background-color: white;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	object-fit: cover;
}

#viana{
	max-width: 100%;
	background-image: url("../img/VIANA.png");
	background-color: white;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	object-fit: cover;
}

#woodie{
	max-width: auto;
	background-image: url("../img/Toy-story.png");
	background-color: white;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	object-fit: cover;
	
}

#ariel{
	max-width: auto;
	background-image: url("../img/Ariel.png");
	background-color: white;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	object-fit: cover;
	
}


.top{
	display: grid;
	grid-template-columns: 1fr;
	background-color:white;
	max-width: 70%;
	font-size: 5em;
	font-family:'PT Sans', sans-serif;
	margin: auto;
	color: white;
}

#toppentext{
	max-width: auto;
	background-image: url("../img/TOP.jpg");
	background-color: white;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	object-fit: cover;
}


.Töp{
	max-width: auto;
	margin: 40px;
}